* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: hsl(202, 20%, 92%);
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 1.25em;
    color: white;
    font-weight: normal;
    padding: 0.75em;
    letter-spacing: 0.3125em;
}

h3 {
    font-size: 1.875em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0.0625em solid hsl(234, 15%, 13%);
    margin-top: 3.125em;
    margin-bottom: 3.125em;
}

/* ============ MENU PRINCIPAL ============*/

header h1 {
    margin-left: 13%;
}

nav {
    display: flex;
    background-color: hsl(234, 15%, 13%);
    justify-content: space-between;
}

nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 5%;
}

nav ul li {
    margin: 0 0.9375em;
    padding: 0;
}

nav ul li a {
    font-size: 0.9375em;
    color: hsl(0, 0%, 100%);
    transition: all .5s;
    font-weight: bold;
    letter-spacing: 0.125em;
}

nav ul li a:hover {
    color: hsl(179, 100%, 37%);
    transition: all .5s;
    text-shadow: 0.0625em 0.0625em 1.5625em hsl(179, 100%, 37%);
    content: inherit;
}


.menu-botao {
    background-color: transparent;
    display: none;
    position: static;
    right: 0.9375em;
    top: 0.5em;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-size: 1.75em;
    border: none;
    transition: all .6s;
    position: absolute;
}

.menu-botao:hover {
    text-shadow: 0.0625em 0.0625em 1.25em hsl(179, 100%, 37%);
    color: hsl(179, 100%, 37%);
    transition: all .6s;
}

/* ============ INICIO ============*/

.inicio {
    background-image: url(/src/img/fundo.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.animar span {
    font-weight: bold;
    font-size: 2.1875em;
}

.animar {
    position: absolute;
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-left: 13%;
    margin-top: 15%;
}

.animar span,
.animar strong {
    color: hsl(179, 100%, 37%);
    display: inline-block;
}

.animar h2 {
    font-size: 2.1875em;
}

.animar p {
    font-size: 1.125em;
}

/* ========== SOBRE =========== */

.sobre {
    display: flex;
    margin-bottom: 6.25em;
}

.sobre p {
    color: hsl(0, 0%, 23%);
}

.sobre-esquerda {
    max-width: 50%;
    text-align: center;
    position: relative;
}

.sobre-esquerda h3 {
    font-weight: bold;
    margin-top: 2.5em;
}

.sobre-esquerda p {
    align-items: center;
    text-align: justify;
    margin: 3% 15%
}

.sobre-esquerda button {
    border: 0.0625em solid transparent;
    background-color: hsl(234, 15%, 13%);
    color: hsl(179, 100%, 37%);
    font-weight: bold;
    padding: 0.3125em 0.9375em;
    margin-top: 1.25em;
    border-radius: 1.5625em;
    letter-spacing: 0.125em;
    cursor: pointer;
}

.sobre-esquerda button:hover {
    background-color: hsl(179, 100%, 37%);
    color: hsl(234, 15%, 13%);
    border: 0.0625em solid hsl(234, 15%, 13%);
    box-shadow: 0.0625em 0.0625em 1.25em hsl(179, 100%, 37%);
}

.sobre-esquerda img {
    width: 9.375em;
    position: absolute;
    left: 0.3125;
}

.sobre-direita {
    width: 50%;
    text-align: center;
}

.sobre-direita img {
    width: 28.125em;
}

/* ============ TECNOLOGIAS ============*/

.tecnologias {
    text-align: center;
}

.tecnologias img {
    width: 6.25em;
    margin-top: 0.9375em;
}

.tecnologias p {
    color: hsl(0, 0%, 23%);
    margin-top: 3.125em;
}

.tecnologias-pai {
    display: flex;
    max-width: auto;
    margin: auto;
    max-width: 42.5em;
}

.tecnologias-unico h3 {
    color: hsl(179, 100%, 37%);
    text-align: left;
    margin-left: 1em;
    margin-top: 0.9375em;
}

.tecnologias-unico p {
    text-align: left;
    margin: 0.3125em 0.9375em 0;
    font-size: 0.875em;
    max-width: 17.5em;
}

.tecnologias-unico p span {
    color: hsl(179, 100%, 37%);
    font-weight: bold;
}

.tecnologias-unico h3 span {
    font-weight: normal;
    color: hsl(0, 0%, 0%);
}

.tecnologias-unico {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.3125em;
    box-shadow: 0.3125em 0.3125em 0.625em hsl(0, 0%, 40%);
    min-width: 18.75em;
    min-height: 14.375em;
}

.tecnologias-unico h3 {
    font-size: 0.9375em;
}

.tecnologias-pai div {
    margin: 1.5625em auto;
}

/* ============ PROJETOS ============*/

.projetos-pai img {
    width: 50em;
}

.projetos {
    width: 97%;
    text-align: center;
    margin-top: 3.125em;
    margin: 3.125em auto 5em;
}

.projetos h3 {
    margin-bottom: 3.125em;
}

/* ========= CONTATOS ========== */

.contatos ul {
    position: fixed;
    bottom: 1.25em;
    right: 1.875em;
    z-index: 1;
}

.contatos li {
    background-color: hsla(0, 0%, 0%, 0.549);
    padding: 0.625em;
    margin: 0.625em 0;
    text-align: center;
    border-radius: 0.4375em;
    transition: all .6s;
}

.linkedin:hover,
.whatsapp:hover,
.instagram:hover,
.github:hover {
    transition: all .6s;
}

.linkedin:hover {
    background-color: hsl(199, 85%, 36%);
}

.whatsapp:hover {
    background-color: hsl(113, 67%, 41%);
}

.instagram:hover {
    background-color: hsl(333, 72%, 52%);
}

.github:hover {
    background-color: hsl(234, 15%, 13%);
}

.contatos a {
    color: hsl(0, 0%, 100%);
    font-size: 1.5625em;
}

::-webkit-scrollbar {
    width: 0.4375em;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(234, 15%, 13%);
    border-radius: 0.625em;
}

footer {
    background-color: hsl(234, 15%, 13%);
    color: hsl(0, 0%, 47%);
    text-align: center;
}

footer p {
    padding: 3.125em 0;
}

.contato-footer {
    display: flex;
    background-color: hsl((233, 15%, 23%), 15%, 23%);
    justify-content: center;
}

.contato-footer li {
    margin: 0.3125em 0.625em;
}

.contato-footer a {
    font-size: 1.4em;
    color: hsl(0, 0%, 100%);
}

.contato-footer a:hover {
    color: hsl(179, 100%, 37%);
    text-shadow: 0.0625em 0.0625em 1.875em hsl(179, 100%, 37%);
}
