

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e7ecef;
    overflow-x: hidden ;

}

h1 {
    margin: 0;
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding: 12px;
    letter-spacing: 5px;
}

h3 {
    font-size: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid #1c1d26;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ============ MENU PRINCIPAL ============*/



header h1 {
    margin-left: 13%;
}
nav {
    display: flex;
    background-color: #1c1d26;
    justify-content: space-between;
}

nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 5%;
}

nav ul li {
    margin: 0 15px;
    padding: 0;
}

nav ul li a{ 
    font-size: 15px;
    color: white;
    transition: all .5s;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: #00BEBB;
    transition: all .5s;
    text-shadow: 1px 1px 25px #00BEBB;
    content: inherit;
}


.menu-botao {
    background-color: transparent;
    display: none;
    position: static;
    right: 15px;
    top: 8px;
    cursor:pointer;
    color: white;
    font-size: 28px;
    border: none;
    transition: all .6s;
    position: absolute;
}

.menu-botao:hover {
    text-shadow: 1px 1px 20px #00BEBB;
    color: #00BEBB;
    transition: all .6s;
}

/* ============ INICIO ============*/

.inicio {
    background-image: url(/src/img/fundo.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.animar span { 
    font-weight: bold;
    font-size: 35px;
    
} 

.animar {
 position:absolute;
 color: white;
 text-align: left;
 margin-left: 13%;
 margin-top: 15%;

}

.animar span, .animar strong{
    color: #00BEBB;
    display: inline-block;
}

.animar h2 {
    font-size: 35px;

}

.animar p {
    font-size: 18px;
}

/* ========== SOBRE =========== */

.sobre {
    display: flex;
    margin-bottom: 100px;
}

.sobre p {
    color: rgb(58, 58, 58);
}
.sobre-esquerda {
    max-width: 50%;
    text-align: center;
    position: relative;
}

.sobre-esquerda h3 {
    font-weight: bold;
    margin-top: 40px;
}

.sobre-esquerda p {
    align-items: center;
    text-align:justify ;
    margin: 3% 15%
}

.sobre-esquerda button {
    border: 1px solid transparent;
    background-color: #1c1d26;
    color: #00BEBB;
    font-weight: bold;
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.sobre-esquerda button:hover {
    background-color: #00BEBB;
    color: #1c1d26;
    border:1px solid #1c1d26;
    box-shadow: 1px 1px 20px #00BEBB;;
    
}

.sobre-esquerda img {
    width: 150px;
    position: absolute;
    left: 5px;

}
.sobre-direita {
    width: 50%;
    text-align: center;
}

.sobre-direita img {
    width: 450px;
}

/* ============ TECNOLOGIAS ============*/

.tecnologias {
    text-align: center;
}

.tecnologias img {
    width: 100px;
    margin-top: 15px;

}

.tecnologias p {
    color: rgb(58, 58, 58);
    margin-top: 50px;
}

.tecnologias-pai {
    display: flex;
    max-width: auto;
    margin: auto;
    max-width: 680px;
    
}
.tecnologias-unico h3 {
    color: #00BEBB;
    text-align: left;
    margin-left: 16px;
    margin-top: 15px;
    
    
    
}

.tecnologias-unico p {
    text-align: left;
    margin: 5px 15px 0;
    font-size: 14px;
    max-width: 280px;
}

.tecnologias-unico p span {
    color: #00BEBB;
    font-weight: bold;
}

.tecnologias-unico h3 span {
    font-weight: normal;
    color: black;
}

.tecnologias-unico {
    background-color: white;
    border-radius: 5px; 
    box-shadow: 5px 5px 10px rgb(102, 102, 102);
    min-width: 300px;   
    min-height: 230px;

}

.tecnologias-unico h3 {
    font-size: 15px;
}

.tecnologias-pai div {
margin: 25px auto;
    

}

/* ============ PROJETOS ============*/

.projetos-pai img  {
    width: 800px;
}
.projetos {
    width: 97%;
    text-align: center;
    margin-top: 50px;
    margin: 50px auto 80px;
}
.projetos h3 {
    margin-bottom: 50px;
}
/* ========= CONTATOS ========== */

.contatos ul {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;

}
.contatos li {
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
    margin:10px 0;
    text-align: center;
    border-radius: 7px;
    transition: all .6s;
}

.linkedin:hover,
.whatsapp:hover,
.instagram:hover,
.github:hover {
    transition: all .6s;

}

.linkedin:hover {
    background-color: #0e76a8;
}

.whatsapp:hover {
    background-color: #34af23;
}

.instagram:hover {
    background-color: #DD2A7B;
}

.github:hover {
    background-color: #1c1d26;
}

.contatos a {
    color: white;
    font-size: 25px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #1c1d26;
    border-radius: 10px;
}

footer {
    background-color: #1c1d26;
    color: #797979;
    text-align: center;
}

footer p {
    padding: 50px 0;
}

.contato-footer {
    display: flex;
    background-color: #313342;
    justify-content: center;
}

.contato-footer li {
    margin: 5px 10px;
}

.contato-footer a {
    font-size: 1.4em;
    color: white;
}

.contato-footer a:hover {
    color: #00BEBB;
    text-shadow: 1px 1px 30px #00BEBB;
}
